--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.0.0
torchaudio>=2.0.0
numpy>=1.24
speechbrain>=1.0.0
huggingface-hub>=0.10.1
moviepy<2.0.0
imageio-ffmpeg>=0.4.8
streamlit>=1.24.0
yt-dlp>=2024.05.27
transformers>=4.30.0
soundfile>=0.12.1